
// Colors: MAIN
$primary: #00806C;
$primary-20: #AED4CE;
$primary-40: #73B9AE;
$primary-60: #00806C;
$primary-80: #016557;

$secondary: #ffffff;
$secondary-20: #FFFDFD;
$secondary-40: #FFE6E6;
$secondary-60: #DE6F6F;
$secondary-80: #C91717;

$tertiary: #007878;
$tertiary-20: #228C8C;
$tertiary-40: #088A8A;
$tertiary-60: #006B6B;
$tertiary-80: #005D5D;

$black: #000000;
$black-10: #4D4D4D;
$black-20: #3A3A3A;
$black-30: #363636;
$black-40: #2B2B2B;
$black-50: #202020;
$black-60: #030202;

$white: #FFFFFF;
$white-10: #eeeeee;
$white-20: #CECECE;
$white-30: #CCCCCC;
$white-40: #DBDBDB;
$white-50: #BBBAB9;
$white-60: #AFAFAF;
$white-70: #949594;
$white-80: #838383;
$white-90: #6F7070;

// Colors: HOVER
